.category {
    height: 230px;
    width: 230px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .category img {
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;
  }

  .category a {
    text-decoration: none;
    color: rgb(35, 35, 35);
  }
  .category h2,
  .category p {
    padding: 5px;
    margin-left: 15px;
  }
  /* .category h2 {
    font-size: 18px;
  } */
  .category p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(9, 132, 209);
  }

  /* cata */
  .category__container {
    position: relative;
    margin-top: -10%;
    /* margin-top: -120px; */
    display: grid;
    /* display: flex; */
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); */
    /* max-width: 1600px; */
    /* margin-right: auto;
    margin-left: auto; */
    place-items: center;
    overflow: hidden;
    
  }

  /* @media (max-width: 850px) {
    .category h2 {
      font-size: 13px;
    }
    .category__container {
      margin-top: -80px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 768px) {
    .category {
      height: 100%;
      width: 100%;
    }
    .category img {
      width: 90%;
    }
  } */